{% extends 'base.html' %}
{% load verbose_names %}
{% block content %}
<div class="center">
    <h1>Добавление товара</h1>
</div>
<div class="flex-center">
    <div class="card p-3" style="width: 20rem;">
        <form method="post" enctype='multipart/form-data'>
            {% csrf_token%}
            {{ form.as_p}}
            <button type="submit" class="form-control btn btn-warning">Сохранить</button>
        </form>
        <br>
        <a href="{% url 'ProductsList' %}" ><button type="button" class="form-control btn btn-success ">Перейти к списку товаров</button></a><br>
    </div>
</div>
{% endblock %}
{% block info %}
{% endblock %}