{% extends 'base.html' %}
{% load verbose_names %}
{% block content %}
<div class="center">
    <h1>Главная страница</h1>
</div>
<div class="m-3">
    <p class="center" style="font-size: 1.5em;">Добрый день! Это ознакомительная страница от Ненашева Сергея Владимировича.</p>
    <p>Если вы находитесь на этой странице то скорее всего вы ищите себе разработчика и попали на эту страницу из резюме.</p>
    <p>Этот сервис выполнен на Python 3.8 и Django 4.06. и представляет собой выполненое тестовое задание работодателя. Исходный код проекта вы можете скачать с Git по адресу указанному в резюме.</p>
    <p>Задание на разработку вы можете видеть в правой части окна, на разработку тестового задания (разделы Реестр; Покупатели; Товары; Отчеты.
    <p>Теперь расскажу немного о последнем месте работы.</p>
    <p style="margin-bottom: 0px;">На последнем месте работы я проработал почти три года и выполнял:
        <ul>
            <li>
                сопровождение, поддержку и доработку:
            </li>
                <ul>
                    <li>
                        web сервиса телемеханической системы контроля и управления станциями катодной защиты (Python2, Django2, AngularJS, WebSockets, Celery, MariaDB);</li>
                    </li>
                        web сервиса системы телеметрического контроля пунктов редуцированя газа (php, AngularJS, MariaDB);
                    </li>
                    <li>
                        службы приема сообщений по TCP от контроллеров и передачи в RabbitMQ (Python);
                    </li>
                    <li>
                        службы приема сообщений из RabbitMQ и передачи данных в БД системы контроля и управления станциями катодной защиты (Python);
                    </li>
                    <li>
                        службы приема сообщений из RabbitMQ и передачи данных в WebSocket системы контроля и управления станциями катодной защиты (Python);
                    </li>
                    <li>
                        службы приема сообщений из RabbitMQ и передачи данных в БД  системы телеметрического контроля пунктов редуцирования газа (Python);
                    </li>
                    <li>
                        десктопной программы эмулирования контроллеров станций катодной защиты и пунктов редуцированя газа (Python, PyQt4);
                    </li>
                </ul>
            <li>
                разработку и поддержку:
                <ul>
                    <li>
                        web сервиса подписки на темы и просмотра пакетов по протоколу MQTT и если посылка имеет определенный формат построения графиков из принятых данных (Python, Django, JQuery);</li>
                    </li>
                    <li>
                        web сервиса для терминального общения с контроллерами системы контроля и управления станциями катодной защиты и системы телеметрического контроля пунктов редуцирования газа (Python, Django, VueJs, WebSockets)
                    </li>
                </ul>
            </li>
            <li>
                автоматическое развертывание Web сервисов и служб на Docker Containers;
            </li>
            <li>
                развертывание Web сервисов и служб на Astra Linux (в связи со спецоперацией на Украине, до этого все работало на Windows);
            </li>
        </ul>
    </p>
</div>
{% endblock %}

{% block info %}

{% endblock %}
