{% extends 'base.html' %}
{% block content %}
<div style="text-align:center;">
    <h1>Строка реестра</h1>
</div>
<div style="display: flex; justify-content: space-between;background: beige;" >
  <div class="card-body" style="text-align:center;">
    <h4 class="card-title">{{ Registry.customer.FIO }}</h4>
    <h4> Дата закупки: {{ Registry.sale_date|date:'d.m.Y' }}</h4>
  </div>
    <div>
          <a href="{% url 'RegistrysList' %}" class="card-link"><button type="button" class="btn btn-success m-3">Перейти к реестру</button></a>
<!--          <a href="{% url 'CreateRegistry' %}" class="card-link"><button type="button" class="btn btn-primary m-3">Создать новую строку реестра</button></a>-->
          <a href="{% url 'EditRegistry' Registry.pk %}" class="card-link"><button type="button" class="btn btn-warning m-3">Изменить эту строку</button></a>
          <a href="{% url 'DeleteRegistry' Registry.pk %}" class="card-link"><button type="button" class="btn btn-danger m-3">Удалить эту строку</button></a>
    </div>
</div>
<div style="text-align:center;" class="mt-5">
    <h2>Табличная часть закупки {{ Registry.customer.FIO }} от {{ Registry.sale_date|date:'d.m.Y' }}</h2>
</div>
<div>
    <a href="{% url 'CreateRegistryData' Registry.pk %}" class="m-3"><button type="button" class="btn btn-primary">Добавить покупку</button></a>
    <table class="m-3 border ListTable table table-striped">
        <thead>
            <tr>
                <th>Действия</th>
                <th>Товар</th>
                <th>Цена за единицу</th>
                <th>Количество</th>
                <th>Общая стоимость</th>
            </tr>
        </thead>
        {% for item in RegistryData%}

            <tr>
                <td class="space-evenly"><a href="{% url 'EditRegistryData' item.pk %}">Изменить</a>
                    <a class="alarm" href="{% url 'DeleteRegistryData' item.pk %}">Удалить</a></td>
                <td>{{ item.product }}</td>
                <td>{{ item.price }}</td>
                <td>{{ item.count }}</td>
                <td>{{ item.sum }}</td>
            </tr>

        {% endfor %}
    </table>
    <a href="{% url 'CreateRegistryData' Registry.pk %}" class="m-3"><button type="button" class="btn btn-primary">Добавить покупку</button></a>
</div>
{% endblock %}
{% block infodata %}
    <fieldset class="code">
        <legend>Модели</legend>
        <pre>
class Registry (models.Model):
	customer = models.ForeignKey(Customer, on_delete=models.PROTECT, verbose_name="Покупатель")
	sale_date = models.DateField(verbose_name="Дата продажи")

	class Meta:
		ordering = ['-sale_date', 'customer']
		verbose_name = 'Реестр'
		verbose_name_plural = 'Реестр'


	def __str__(self):
		return f"{self.customer}-{self.sale_date}"


	def get_absolute_url(self):
		return reverse('ViewRegistry', kwargs={'pk': self.pk})


class RegistryData (models.Model):
	registry = models.ForeignKey(Registry, on_delete=models.PROTECT, verbose_name="Строка реестра")
	product = models.ForeignKey(Product, on_delete=models.PROTECT, verbose_name="Товар")
	count = models.IntegerField(verbose_name='Кол-во')
	price = models.DecimalField(max_digits=12, decimal_places=2, verbose_name="Цена за единицу", blank=True, null=True)
	sum = models.DecimalField(max_digits=22, decimal_places=2, verbose_name="Сумма", blank=True, null=True)

	class Meta:
		ordering = ['-registry', 'sum']
		verbose_name = 'Данные покупок'
		verbose_name_plural = 'Данные покупок'

	def __str__(self):
		return f"{self.registry}-{self.product}"

	def get_absolute_url(self):
		return reverse('ViewRegistry', kwargs={'pk': self.pk})
        </pre>
    </fieldset>
    <fieldset class="code">
        <legend>Views</legend>
        <pre>
class ViewRegistry(DetailView):
	model = Registry
	template_name = 'registrys/view.html'
	context_object_name = 'Registry'


	def get_context_data(self, **kwargs):
		context = super().get_context_data(**kwargs)
		context['RegistryData'] = RegistryData.objects.filter(registry=self.object)
		return context
        </pre>
    </fieldset>
    <fieldset class="code">
        <legend>Шаблон 'registrys/view.html'</legend>
        <pre>
[% extends 'base.html' %]
[% block content %]
&lt;div style="text-align:center;"&qt;
    &lt;h1&qt;Строка реестра&lt;/h1&qt;
&lt;/div&qt;
&lt;div style="display: flex; justify-content: space-between;background: beige;" &qt;
  &lt;div class="card-body" style="text-align:center;"&qt;
    &lt;h4 class="card-title"&qt;[[ Registry.customer.FIO ]]&lt;/h4&qt;
    &lt;h4&qt; Дата закупки: [[ Registry.sale_date|date:'d.m.Y' ]]&lt;/h4&qt;
  &lt;/div&qt;
    &lt;div&qt;
          &lt;a href="[% url 'RegistrysList' %]" class="card-link"&qt;&lt;button type="button" class="btn btn-success m-3"&qt;Перейти к реестру&lt;/button&qt;&lt;/a&qt;
&lt;!--          &lt;a href="[% url 'CreateRegistry' %]" class="card-link"&qt;&lt;button type="button" class="btn btn-primary m-3"&qt;Создать новую строку реестра&lt;/button&qt;&lt;/a&qt;--&qt;
          &lt;a href="[% url 'EditRegistry' Registry.pk %]" class="card-link"&qt;&lt;button type="button" class="btn btn-warning m-3"&qt;Изменить эту строку&lt;/button&qt;&lt;/a&qt;
          &lt;a href="[% url 'DeleteRegistry' Registry.pk %]" class="card-link"&qt;&lt;button type="button" class="btn btn-danger m-3"&qt;Удалить эту строку&lt;/button&qt;&lt;/a&qt;
    &lt;/div&qt;
&lt;/div&qt;
&lt;div style="text-align:center;" class="mt-5"&qt;
    &lt;h2&qt;Табличная часть закупки [[ Registry.customer.FIO ]] от [[ Registry.sale_date|date:'d.m.Y' ]]&lt;/h2&qt;
&lt;/div&qt;
&lt;div&qt;
    &lt;a href="[% url 'CreateRegistryData' Registry.pk %]" class="m-3"&qt;&lt;button type="button" class="btn btn-primary"&qt;Добавить покупку&lt;/button&qt;&lt;/a&qt;
    &lt;table class="m-3 border ListTable table table-striped"&qt;
        &lt;thead&qt;
            &lt;tr&qt;
                &lt;th&qt;Действия&lt;/th&qt;
                &lt;th&qt;Товар&lt;/th&qt;
                &lt;th&qt;Цена за единицу&lt;/th&qt;
                &lt;th&qt;Количество&lt;/th&qt;
                &lt;th&qt;Общая стоимость&lt;/th&qt;
            &lt;/tr&qt;
        &lt;/thead&qt;
        [% for item in RegistryData%]

            &lt;tr&qt;
                &lt;td class="space-evenly"&qt;&lt;a href="[% url 'EditRegistryData' item.pk %]"&qt;Изменить&lt;/a&qt;
                    &lt;a class="alarm" href="[% url 'DeleteRegistryData' item.pk %]"&qt;Удалить&lt;/a&qt;&lt;/td&qt;
                &lt;td&qt;[[ item.product ]]&lt;/td&qt;
                &lt;td&qt;[[ item.price ]]&lt;/td&qt;
                &lt;td&qt;[[ item.count ]]&lt;/td&qt;
                &lt;td&qt;[[ item.sum ]]&lt;/td&qt;
            &lt;/tr&qt;

        [% endfor %]
    &lt;/table&qt;
    &lt;a href="[% url 'CreateRegistryData' Registry.pk %]" class="m-3"&qt;&lt;button type="button" class="btn btn-primary"&qt;Добавить покупку&lt;/button&qt;&lt;/a&qt;
&lt;/div&qt;
[% endblock %]            
        </pre>
    </fieldset>
{% endblock %}

