{% extends 'base.html' %}
{% load verbose_names %}
{% block content %}
<div class="center">
    <h1>Удаление покупателя</h1>
</div>
<div class="flex-center">
    <form method="post">{% csrf_token %}
        <div class="card" style="width: 40rem;">
            <h3 class="text-danger m-3">Вы действительно хотите удалить этого покупателя?</h3>
            {% if customer.photo %}
            <img class="card-img-top" src="{{ customer.photo.url }}" alt="Card image cap" width="286px">
            {% endif %}
          <div class="card-body">
            <h5 class="card-title">{{ customer.FIO }}</h5>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Дата рождения: {{ customer.birthDate|date:"d.m.Y" }}</li>
            <li class="list-group-item">Пол: {{ customer.get_gender_display }}</li>
            <li class="list-group-item">Дата регистрации: {{ customer.registerDate }}</li>
            <li class="list-group-item">Согласие на обработку ПД:
                    {% if customer.PDConsent %} Да {% else %} Нет {% endif %}
            </li>
          </ul>
          <div class="card-body flex-center">
              <button type="submit" value="Confirm" class="card-btn btn btn-danger m-3">Да</button><br>
              <a href="{% url 'CustomersList' %}" class="card-link"><button type="button" class="card-btn btn btn-success m-3">Нет</button></a><br>
          </div>
        </div>
    </form>
</div>
{% endblock %}
{% block info %}
{% endblock %}